


.postAuthor{
    display: inline-block;
    width: 70%;
    /* margin-bottom: 10px; */
    height: 4em;
}


.commnetList {
    list-style: none;
}

.postContent {
    display: inline-block;
    width: 70%;
    margin-bottom: 10px;
    height: 6em;
}


.deleteButton {
    float: right;
}


.postField {
    margin-top: 10px;
    border: 1px solid #000;
    border-color: gray;
    border-radius: 5px;
    padding: 10px;
}